<template>
  <div>
    <a-row>
      <a-col :span="24">
        <a-breadcrumb>
          <a-breadcrumb-item>
            <router-link to="/"> Home </router-link>
          </a-breadcrumb-item>
          <!-- Solo se agrega plataforma si puede una parametro del usuario por v-router -->
          <a-breadcrumb-item v-if="this.$route.params.user">
            <router-link to="/Plataforma"> Plataforma </router-link>
          </a-breadcrumb-item>
          <a-breadcrumb-item>Detalle</a-breadcrumb-item>
        </a-breadcrumb>
      </a-col>
      <a-divider type="horizontal" />
      <a-col :span="24">
        <a-steps :current="2" size="small">
          <a-step title="Crear" />
          <a-step title="Vizualiza" />
          <a-step title="Información" />
        </a-steps>
      </a-col>
      <a-col>
        <a-row :gutter="16">
          <a-col :span="12">
            <a-statistic
              title="Me encanta programas"
              :value="1128"
              style="margin-right: 50px"
            >
              <template #suffix>
                <a-icon type="like" />
              </template>
            </a-statistic>
          </a-col>
          <a-col :span="12">
            <a-statistic title="Curso" :value="40" class="demo-class">
              <template #suffix>
                <span> / 100</span>
              </template>
            </a-statistic>
          </a-col>
        </a-row>
      </a-col>
    </a-row>
    <a-divider type="horizontal" />
    <a-row>
      <a-col :span="24">
        <h1>Detalle</h1>
      </a-col>

      <!-- Informacion del user -->
      <a-col :span="12" v-if="user.id">
        <a-descriptions title="Información Del Item ">
          <a-descriptions-item label="ID"> {{ user.id }} </a-descriptions-item>
          <a-descriptions-item label="NOMBRE">
            {{ user.name }}
          </a-descriptions-item>
          <a-descriptions-item label="PRECIO">
            {{ user.price }}
          </a-descriptions-item>
          <a-descriptions>
            <div>
              <img
                slot="cover"
                :alt="`${user.imagen}`"
                :src="`${user.imagen}`"
                width="75%"
              />
            </div>
          </a-descriptions>
        </a-descriptions>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {
  name: "Detalle",
  computed: {
    user() {
      // We will see what `params` is shortly
      let temp = {
        id: "Demo #1",
        name: "DemoProducto",
        price: 5000,
        imagen:
          "https://www.swgreenhouse.com/files/RPA-Automatizaci%C3%B3n-Robotica-de-Procesos-g.jpg",
      };
      return this.$route.params.user || temp;
    },
  },
};
</script>

<style scoped>
</style>