<template>
  <div class="home">
    <a-row>
      <a-col :span="24">
        <a-breadcrumb>
          <a-breadcrumb-item>Home</a-breadcrumb-item>
        </a-breadcrumb>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="12">
        <h1>PLATAFORMA WEB</h1>
      </a-col>
      <a-col :span="24">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
          molestiae culpa officia minima ipsa expedita, fugit nam aperiam
          accusantium enim. Libero recusandae error, inventore accusamus vitae
          eos ea perferendis aliquam!
        </p>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="12">
        <img alt="Vue logo" src="../assets/logo.png" />
      </a-col>
    </a-row>
    <!-- 
    <HelloWorld msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<style scoped>
h1 {
  font-size: 25px;
}
p {
  margin-top: 10px;
  color: #14213d;
}
</style>
