<template>
  <div>
    <a-row>
      <a-col :span="24">
        <a-breadcrumb>
          <a-breadcrumb-item>
            <router-link to="/"> Home </router-link>
          </a-breadcrumb-item>
          <a-breadcrumb-item>Plataforma</a-breadcrumb-item>
        </a-breadcrumb>
      </a-col>
      <a-col :span="24">
        <a-steps :current="1" size="small">
          <a-step title="Crear" />
          <a-step title="Vizualiza" />
          <a-step title="Información" />
        </a-steps>
      </a-col>
    </a-row>
    <a-row>
      <a-col :span="24">
        <h1>Plataforma con data temporal</h1>
      </a-col>
    </a-row>
    <a-row class="contenido">
      <a-col :span="8" v-for="(item, index) in lista" :key="index">
        <a-card hoverable style="width: 300px">
          <img slot="cover" :alt="`${item.name}`" :src="`${item.imagen}`" />

          <a-card-meta
            :title="`${item.id} - ${item.name} `"
            :description="`${item.price}`"
          ></a-card-meta>
          <br />
          <a-button type="primary" @click="goDetalle(item)">
            Ver detalle<a-icon type="right" />
          </a-button>
        </a-card>
      </a-col>
    </a-row>
  </div>
</template>

<script>
export default {
  name: "Plataforma",
  // props: ["lista"],
  mounted: function () {
    // Data load defualt
    this.generarData();
  },
  data() {
    return {
      lista: [],
    };
  },
  methods: {
    goDetalle: function (info) {
      // Le enviamos la información a la vista de detalle
      this.$router.push({ name: "detalle", params: { user: info } });
    },
    generarData: function () {
      if (this.lista.length === 0) {
        let i = 0;
        let temp = {};

        for (i = 0; i < 20; i++) {
          temp = {
            id: `Item-${i}`,
            name: `Procduto ${i}`,
            price: i + 123,
            imagen: "https://cdn.ticbeat.com/src/uploads/2019/12/curso-ia.jpg",
          };
          this.lista.push(temp);
        }
      }
    },
  },
};
</script>

<style scoped>
.contenido {
  padding: 0 10px;
}
</style>