<template>
  <div id="app">
    <a-layout>
      <a-layout-sider>
        <img alt="Vue logo" src="./assets/logo.png" height="100" />
        <br />
        <Menu></Menu>
        <a-layout-footer> Footer </a-layout-footer>
      </a-layout-sider>
      <a-layout>
        <a-layout-header>
          <!-- Menu -->
          <div id="nav">
            <router-link to="/">Home</router-link> |
            <router-link to="/form"> Formulario </router-link>
            <router-link to="/plataforma"> Plataforma </router-link>
            <router-link to="/detalle"> Detalle </router-link>
          </div>
          <!-- Fin Menu -->
        </a-layout-header>
        <a-layout-content class="principal">
          <!-- Contenido de vista -->
          <router-view />
          <!-- Fin de contenido de vista -->
        </a-layout-content>
      </a-layout>
    </a-layout>
  </div>
</template>

<script>
import Menu from "../src/components/Menu";
export default {
  components: {
    Menu,
  },
};
</script>
<style scoped>
html,
body {
  color: #f1faee;
}
#app {
  color: #e5e5e5;
  height: 100%;
  display: flex;
  background-color: #e5e5e5;
}

.ant-layout-sider {
  background-color: #001529;
  text-align: center;
  margin-right: 5px;
  width: 256px;
  overflow-y: scroll;
}
.ant-layout-header,
.ant-layout-footer {
  background-color: #14213d;
  color: #f1faee;
  font-weight: 600;
  font-size: 16px;
  height: 100px;
}

.ant-layout-header {
  padding-left: 20px;
}
.ant-layout-footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #fca311;
  width: 100%;
  height: 20px;
  margin-top: 50px;
}

.ant-layout-content {
  padding: 20px;
  background-color: #ffffff;
  height: auto;
  overflow-y: scroll;
}

img {
  margin-bottom: 10px;
}
</style>
